* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#game {
  width: 80vw;
  height: 250px;
  border: 1px solid orange;
  margin: 0 auto;
  margin-top: 20vh;
  background: olivedrab;
  position: relative;
}

#controller {
  width: 80vw;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  text-align: center;
}

#controller button {
  display: block;
}

#controller button#jump {
  border: 5px solid orange;
  background: orangered;
  padding: 20px 50px;
  color: white;
  font-size: 24px;
  margin: 0 auto;
}

#controller button#reset {
  border: 5px solid grey;
  background: white;
  color: darkslategray;
  font-size: 16px;
  padding: 10px 30px;
  margin: 0 auto;
  margin-top: 10px;
}

#game h3 {
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 32px;
  font-family: 'Monoton', cursive;
  color: bisque;
}

#playerOne {
  width: 30px;
  height: 50px;
  /* background-color: #ff0000; */
  position: relative;
  top: 150px;
  background: url('img/playerOne.gif') no-repeat left top;
  background-size: contain;
}

.animate {
  animation: jump 1s infinite linear;
}

#playerVersus {
  width: 75px;
  height: 40px;
  /* background-color: #0000ff; */
  background: url('img/playerVersus.gif') no-repeat left top;
  background-size: contain;
  position: relative;
  top: 110px;
  left: 415px;
  animation: playerVersus 2s infinite linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }
  50% {
    top: 50px;
  }
  70% {
    top: 50px;
  }
  100% {
    top: 150px;
  }
}

@keyframes playerVersus {
  0% {
    left: 480px;
  }
  100% {
    left: -40px;
  }
}

#playerOneBubble {
  width: 300px;
  margin: 50px auto;
  background: #00bfb6;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position: absolute;
  bottom: 40px;
  left: 30px;
  display: none;
}

#playerOneBubble:before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #00bfb6;
  border-right: 10px solid transparent;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  left: 19px;
  bottom: -19px;
}
